{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fantasy Baskteball</title>
    <link rel="stylesheet" href="{% static 'css/semantic.css' %}">
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="semantic/dist/semantic.min.js"></script>
</head>
<body>
    <div class="ui secondary  menu">
        {% if user.is_authenticated %}
            <a class="item" href="{% url 'dashboard' %}">Dashboard</a>
        {% else %}
            <li><a class="item" href="{% url 'signup' %}">Sign Up</a></li>
        {% endif %}
            <div class="right menu">
        {% if user.is_authenticated %}
            <a class="item" href="{% url 'logout' %}">Log Out</a>
        {% else %}
            <li><a class="item" href="{% url 'login' %}">Log In</a></li>
        {% endif %}
        </div>
      </div>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <div>All Rights Reserved to Bravo Team, 2019@Fantasy basketball</div>
    </footer>
</body>
</html>