{% extends 'base.html' %}
{% block content%}

<h1>Welcome To Leagues</h1>
<div class="ui internally celled grid">
        <div class="row">
          <div class="three wide column">
            <h1>Leader Board</h1>
          </div>
          <div class="ten wide column">
            <p></p>
          </div>
          <div class="three wide column">
            <h1>Comment</h1>
          </div>
        </div>
        <div class="row">
          <div class="three wide column">
              <p>User Stats</p>
          </div>
          <div class="ten wide column">
            <p></p>
          </div>
          <div class="three wide column">
              <p>Trash Talk</p>
          </div>
        </div>
      </div>
{% endblock %}