{% extends 'base.html' %}
{% block content%}

<h1>Welcome To Leagues</h1>
<div class="ui internally celled grid">
        <div class="row">
          <div class="three wide column">
            <img>
          </div>
          <div class="ten wide column">
            <p></p>
          </div>
          <div class="three wide column">
            <img>
          </div>
        </div>
        <div class="row">
          <div class="three wide column">
            <img>
          </div>
          <div class="ten wide column">
            <p></p>
          </div>
          <div class="three wide column">
            <img>
          </div>
        </div>
      </div>
{% endblock %}