{%extends 'base.html'%}

{% block content %}

<h1>Home Page</h1>
<div class='ui centered grid'>
    <div id='container' class='ui container'>
<div class='ui shape'>
    <div class='sides'>

        <div class='active side'>
            <div class='ui move up reveal card' id='a'>
                <div class='visible content image'>
                    <img src='static/images/kevin.jpg' class='ui small image'>
                </div>
                <div class='hidden content'>
                    <p>This is Kevin's profile</p>
                </div>
            </div>
        </div>

        <div class='side'>
            <div class='ui move up reveal card' id='a'>
                <div class='visible content image'>
                    <img src='static/images/damian.jpg' class='ui small image'>
                </div>
                <div class='hidden content'>
                    <p class='ui small image'>This is Damian's profile</p>
                </div>
            </div>
        </div>

    
        <div class='side'>
            <div class='ui move up reveal card' id='a'>
                <div class='visible content image'>
                    <img src='static/images/giannis.jpg' class='ui small image'>
                </div>
                <div class='hidden content'>
                    <p class='ui small image'>This is Giannis profile</p>
                </div>
            </div>
        </div>
    
        <div class='side'>
            <div class='ui move up reveal card' id='a'>
                <div class='visible content image'>
                    <img src='static/images/james.jpg' class='ui small image'>
                </div>
                <div class='hidden content'>
                    <p class='ui small image'>This is James profile</p>
                </div>
            </div>
        </div>
    
        <div class='side'>
            <div class='ui move up reveal card' id='a'>
                <div class='visible content image'>
                    <img src='static/images/joel.jpg' class='ui small image'>
                </div>
                <div class='hidden content'>
                    <p class='ui small image'>This is Joel's profile</p>
                </div>
            </div>
        </div>
    
        <div class='side'>
            <div class='ui move up reveal card' id='a'>
                <div class='visible content image'>
                    <img src='static/images/kawhi.jpg' class='ui small image'>
                </div>
                <div class='hidden content'>
                    <p class='ui small image'>This is Kawhi profile</p>
                </div>
            </div>
        </div>
    
        <div class='side'>
            <div class='ui move up reveal card' id='a'>
                <div class='visible content image'>
                    <img src='static/images/LeBronJames.jpg' class='ui small image'>
                </div>
                <div class='hidden content'>
                    <p class='ui small image'>This is Lebron James profile</p>
                </div>
            </div>
        </div>

        <div class='side'>
            <div class='ui move up reveal card' id='a'>
                <div class='visible content image'>
                    <img src='static/images/nikola.jpg' class='ui small image'>
                </div>
                <div class='hidden content'>
                    <p class='ui small image'>This is Nikola's profile</p>
                </div>
            </div>
        </div>

        <div class='side'>
            <div class='ui move up reveal card' id='a'>
                <div class='visible content image'>
                    <img src='static/images/paul.jpg' class='ui small image'>
                </div>
                <div class='hidden content'>
                    <p class='ui small image'>This is Paul's profile</p>
                </div>
            </div>
        </div>

        <div class='side'>
            <div class='ui move up reveal card' id='a'>
                <div class='visible content image'>
                    <img src='static/images/stephen.jpg' class='ui small image'>
                </div>
                <div class='hidden content'>
                    <p class='ui small image'>This is Stephen profile</p>
                </div>
            </div>
        </div>
    </div>
    <div class='ui teal button' id='flip'>Flip</div>
</div>
    </div>
</div>
<script>
    $('#flip').click(function(){
        $('.shape').shape('flip right');
    });
    </script>



{% endblock %}